
.app-container > *{
  padding: 2em;
}

.pokemon-list-container {
  background-color: whitesmoke;
}

.pokemon-info-container {
}

@media only screen and (max-width: 768px) {
  .app-container {
      display: flex;
  }

  .pokemon-list-container {
      background-color: wheat;
      width: 400px;
      height: 300px;
  }

  .pokemon-info-container {
      width: 500px;
      height: 300px;
  }
}
